<%inherit file="base.htm" />

<%block name="content">
  <div class="banner">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Houston, We Have A Problem</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 subtitles">
          <h2>This isn't the page you're looking for. Sorry about that.</h2>
          <h2>Try navigating to <a href="http://www.lexicity.com">Lexicity</a> to find what you need.</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="middle">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
        </div>
      </div>
    </div>
  </div>
</%block>