<%inherit file="base.htm" />

<%block name="content">
  <div class="banner">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>About</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 subtitles">
          <h2>If you've ever felt alive studying something dead, you already know what it's about.</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="middle">
    <div class="container">
      <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
          <div class="info-text">
            <p>Two years ago we launched Lexicity - a site dedicated to providing online study resources for ancient languages. We're happy to announce the second version of our site, which looks cleaner, runs more efficiently, and gets you to the resources faster.</p>
	          <p>With the second version, we're also committed to continual updates and expansion for language resources. We hope to include other languages soon as well, and we remain focused on creating an online community for learners of ancient languages.</p>
			      <p>So join in! Drop us a line over on our <a href="contact">contact page</a>. Pointers to new resources are always appreciated, or just share the love for languages. We're on <a href="https://www.twitter.com/lexicityonline" target="_blank">Twitter</a>, <a href="https://www.facebook.com/lexicityonline" target="_blank">Facebook</a>, and <a href="https://plus.google.com/+Lexicity" target="_blank">Google +</a>. Don't be shy - let's start learning together!</p>
          </div>
        </div>
        <div class="col-md-2">
        </div>
      </div>
    </div>
  </div>
</%block>