<%inherit file="base.htm" />

<%block name="content">
  <div class="banner">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Contact</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 subtitles">
          <h2><a href="mailto:lexicity@lexicity.com?Subject=Hey%20Lexicity" target="_top">lexicity [@] lexicity [dot com]</a></h2>
          <h2><a href="http://www.twitter.com/lexicityonline" target="_blank">@lexicityonline</a></h2>
          <p>Let us know if you have any new resources, suggestions for improvements, or want to get involved!</p>
        </div>
      </div>
    </div>
  </div>
  <div class="middle">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
    			<a class="twitter-timeline" href="https://twitter.com/lexicityonline" data-widget-id="365946994956566528">Tweets by @lexicityonline</a>
      		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
        <div class="col-md-4">
        </div>
<!--
        <div class="col-md-4 top-buffer text-center" style="background-color: white;">
          <iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Flexicityonline&amp;width&amp;height=590&amp;colorscheme=dark&amp;show_faces=true&amp;header=true&amp;stream=true&amp;show_border=true" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:590px;" allowTransparency="true"></iframe>
        </div>
        <div class="col-md-4 top-buffer text-center">
          <div class="g-page" data-href="//plus.google.com/u/0/118423315625578847670" data-rel="publisher"></div>
        </div>          -->

      </div>
    </div>
  </div>
</%block>