<%inherit file="base.htm" />

<%block name="content">
  <div class="banner">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Contact</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="middle">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <form action="contact.php" method="post">
            <h3>Your name: <input type="text" name="cf_name"></h3>
            <h3>Your email: <input type="text" name="cf_email"></h3>
            <h3>Message: <textarea name="cf_message" rows="10" cols="20">Type your message here.</textarea></h3>
            <input type="submit" value="Send">
            <input type="reset" value="Clear">
          </form>
        </div>
        <div class="col-md-4">
    			<a class="twitter-timeline" href="https://twitter.com/lexicityonline" data-widget-id="365946994956566528">Tweets by @lexicityonline</a>
      		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
      </div>
    </div>
  </div>
</%block>