<%inherit file="base.htm" />

<%block name="content">

  <div class="banner">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Greek</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 subtitles">
          <h2>Greek was spoken during the late 2050s in Europe.</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="middle">
    <div class="container">
      <div class="row">
        <a href="dictionaries/">
          <div class="col-md-4 tile">
            <img src="${ STATIC_URL }homepage/media/dict.png"/>
            <h3>Dictionaries</h3>
          </div>
        </a>
        <a href="grammars/">
          <div class="col-md-4 tile">
            <img src="${ STATIC_URL }homepage/media/gram.png"/>
            <h3>Grammars</h3>
          </div>
        </a>
			  <a href="charts/">
			    <div class="col-md-4 tile">
            <img src="${ STATIC_URL }homepage/media/chart.png"/>
            <h3>Charts &amp; Aids</h3>
          </div>
			   </a>
		   </div>
       <div class="row">
			   <div class="col-md-2">
         </div>
         <a href="texts/">
	         <div class="col-md-4 tile">
             <img src="${ STATIC_URL }homepage/media/text.png"/>
             <h3>Texts</h3>
           </div>
         </a>
         <a href="other-resources/">
           <div class="col-md-4 tile">
             <img src="${ STATIC_URL }homepage/media/other.png"/>
             <h3>Other Resources</h3>
           </div>
         </a>
			   <div class="col-md-2">
         </div>
       </div>
     </div>
   </div>

</%block>