<%inherit file="base.htm" />

<%block name="content">

  <div class="banner">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>${ language.name }</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 subtitles">
          <h2>${ language.description }</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="middle">
    <div class="tile_container text-center">
      
        %for category in categories:

          <a href="/resources/${ language.name| u }/${ category.name| u}/">
            <div class="tile resource-tile">
              <img src="${ STATIC_URL }homepage/media/${ category.img_name }"/>
              <h3>${ category.name }</h3>
            </div>
          </a>
        
        %endfor
        
     </div>
   </div>

</%block>