<%inherit file="base.htm" />

<%block name="content">

  <div class="banner">
    <div class="container">
      <div class"row">
        <div class="col-md-12">
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h1>Akkadian Charts &amp; Aids</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 subtitles">
          <h2>Akkadian is related to Hebrew and Arabic.</h2>
        </div>
      </div>
    </div>
  </div>
  
  <div class="middle">
    <div class="container">
      <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
          <table class="resource-table">
            <tr>
              <th>Resource</th>
              <th>Description</th>
            </tr>
            <tr>
              <td>
                <a href="http://www.sron.nl/~jheise/akkadian/Welcome_list.html">Cuneiform Sign-Lists Online</a>
              </td>
              <td>A few different lists.</td>
            </tr>
            <tr>
              <td>
                <a href="http://www.sron.nl/~jheise/akkadian/title.html">Translating Cuneiform</a>
              </td>
              <td>A helpful set of steps with links to different books and print resources.</td>
            </tr>
            <tr>
              <td>
                <a href="http://www.lexicity.com/downloads/akkadian_grammar_wiki.pdf">Akkadian Grammar</a>
              </td>
              <td>A PDF file.</td>
            </tr>
            <tr>
              <td colspan="2">
                <a href="../">
                  <button type="button" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-arrow-left"></span> Back to Akkadian Resources</button>
                </a>
              </td>
            </tr>
          </table>
        </div>
        <div class="col-md-2">
        </div>
      </div>
    </div>
  </div>

</%block>