<%inherit file="base.htm" />

<%block name="content">
  <div class="banner">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Video</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 subtitles">
          <h2>Each week we will upload a new video highlighting a different aspect of a different language. Check back often for updates!</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="middle">
    <div class="container">
      <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
          <div class="info-text">
            
            <!--
              YouTube embed link goes here.
              -->
            
          </div>
        </div>
        <div class="col-md-2">
        </div>
      </div>
    </div>
  </div>
</%block>